{% extends "base.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}Home{% endblock %}

{% block body %}
<!--这是页头部分的文件-->
<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="row">
  <ul id="job" class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#job-new" data-toggle="tab">最新职位</a></li>
    <li role="presentation"><a href="#job-hot" data-toggle="tab">热门职位</a></li>
  </ul>
</div>

<div class="row">
<div id="jobContent" class="tab-content">
  <div class="tab-pane fade in active" id="job-new">
      {% for i in range(12) %}
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3>New Job</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="tab-pane fade" id="job-hot">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Hot Job</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

<div class="row">
  <ul id="company" class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#company-new" data-toggle="tab">最新公司</a></li>
    <li role="presentation"><a href="#company-hot" data-toggle="tab">热门公司</a></li>
  </ul>
</div>

<div class="row">
<div id="companyContent" class="tab-content">
  <div class="tab-pane fade in active" id='company-new'>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>New Company</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
  </div>
  <div class="tab-pane fade" id='company-hot'>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Hot Company</h3>
            <p>...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
  </div> 
</div>   
</div>

<div class="row">
  <!--从pagination获取课程对象items-->
</div>
<!-- 使用 macro 渲染分页组件 -->
{% endblock %}
