{% extends "base.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}企业{% endblock %}
{% block body %}
<div class="row">
    {% for company in  pagination.items %}
    <div class="col-sm-6 job-list-item-block">
        <div class="thumbnail">
            <div class="caption">

                <a href="{{ company.website }}" target="_blank">
                    <h4 class="company_name">{{ company.name }}</h4>
                </a>
                <div class="text-muted job-require">
                    <strong class="company_website">
                        <a href="{{ company.website }}" target="_blank">
                             <p class="company_name">{{ company.name }}</p>
                        </a>

                    </strong>
                    <style type="text/css">
                   strong{
                        color:green;
                        font-weight:bold;
                    }
                    h4
                    {
                        font-weight:bold;
                    }
                    </style>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{{ render_pagination(pagination, 'company.company_index') }}
{% endblock %}