{% extends "company/admin_base.html" %}
{% from "macros.html" import render_form %}


{% block admin %}
<p>面试管理</p>
<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">未处理列表</a></li>
    <li><a href="#unqualifiedlist" data-toggle="tab">不合适列表</a></li>
    <li><a href="#interviewlist" data-toggle="tab">面试列表</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="home">
        <table class="table text-nowrap">
            <thread>
                <tr>
                    <th>ID</th>
                    <th>职位名称</th>
                    <th>求职者名称</th>
                    <th>求职者基本信息</th>
                    <th>简历链接地址</th>
                    <th>投递时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                <tbody>
                    {% for send in pagination.items %}
                        {% if send.qualify.name == 'UNREAD' %}
                        <!--这里只显示未读的记录-->
                        <tr>
                            <td>{{ send.id }}</td>
                            <td>{{ send.job.name }}</td>
                            <td>{{ send.user.name }}</td>
                            <td>{{ send.resume.description }}</td>
                            <td>{{ send.resume.resume }}</td>
                            <td>{{ send.created_at }}</td>
                            <td>{{ send.qualify.name }}</td>
                            <td>
                                <a href="{{ url_for('company.send_reject',send_id = send.id) }}" type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>不合适</a>

                        <a href="{{ url_for('company.send_interview',send_id = send.id) }}" type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>面试</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </thread>
        </table>
    </div>
    <div class="tab-pane" id="unqualifiedlist">
    <!--不合适列表-->
        <table class="table text-nowrap">
            <thread>
                <tr>
                    <th>ID</th>
                    <th>职位名称</th>
                    <th>求职者名称</th>
                    <th>求职者基本信息</th>
                    <th>简历链接地址</th>
                    <th>投递时间</th>
                    <th>状态</th>
                </tr>
                <tbody>
                    {% for send in pagination.items %}
                        {% if send.qualify.name == 'REFUSE' %}
                        <tr>
                            <td>{{ send.id }}</td>
                            <td>{{ send.job.name }}</td>
                            <td>{{ send.user.name }}</td>
                            <td>{{ send.user.employee.description }}</td>
                            <td>{{ send.user.employee.resume }}</td>
                            <td>{{ send.created_at }}</td>
                            <td>{{ send.qualify.name }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </thread>
        </table>
    </div>
    <div class="tab-pane" id="interviewlist">
    <!--面试列表-->
        <table class="table text-nowrap">
            <thread>
                <tr>
                    <th>ID</th>
                    <th>职位名称</th>
                    <th>求职者名称</th>
                    <th>求职者基本信息</th>
                    <th>简历链接地址</th>
                    <th>投递时间</th>
                    <th>状态</th>
                </tr>
                <tbody>
                    {% for send in pagination.items %}
                        {% if send.qualify.name == 'ACCEPT' %}
                        <tr>
                            <td>{{ send.id }}</td>
                            <td>{{ send.job.name }}</td>
                            <td>{{ send.user.name }}</td>
                            <td>{{ send.user.employee.description }}</td>
                            <td>{{ send.user.employee.resume }}</td>
                            <td>{{ send.created_at }}</td>
                            <td>{{ send.qualify.name }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </thread>
        </table>
    </div>
</div>
{% endblock %}